:root {
    --bg-red-primary: #D23554;
    --outline-red: brown;
    /* --warning: #FFE016; */
    /* --urgent: #F79009; */
    --urgent: #FFE016;
    --bg-green: rgb(160, 239, 159);
    --outline-green: #00C21D;
    --txt-danger: #FF0000;
    --bg-black: #000;
    --bg-white: #FFF;
    --bg-card-primary: #F2F2F2;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 8px;
    width: 400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
    
}

/* ================= HEADER ================= */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 8px;
}

.header img {
    height: 24px;
}

.header h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.header span{
    color: var(--bg-red-primary);
}
/* ================= CONTENT ================= */
.content {
    width: 100%;
}

/* search */
.search{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

.search input {
    width: 100%;
    padding: 10px;
    border: .5 solid rgba(42, 91, 195, 0.35);
    border-radius: 5px;
}

.nav_menu{
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

/* .nav_menu button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    padding: 4px;
    border-radius: 5px;
    background-color: var(--bg-card-primary);
} */

/* .btn_page.active {
    background-color: var(--bg-red-primary);
    color: var(--bg-card-primary);
} */

.nav_menu select {
    padding: 10px;
    border-radius: 5px;
}

.nav_menu option:hover {
    background-color: var(--bg-red-primary);
}
/* ================= CARD ================= */
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 8px 10px;
    margin-top: 10px;
    margin-bottom: 6px;

    border: 2px solid var(--bg-black);
    background-color: var(--bg-white);
    border-radius: 10px;
}

.card.urgent {
    background-color: var(--urgent);
}

.card.warning {
    background-color: var(--warning);
}

.card.warning > .due_date{
    color: var(--bg-black);
}

.card.normal {
    background-color: var(--bg-white);
}
.card_desc {
    display: flex;
    flex-direction: column;
    gap: 2px;
    line-height: 1.2;
}

/* RESET DEFAULT MARGIN */
.card_desc * {
    margin: 0;
}

/* TEXT STYLES */
.no_pesanan {
    font-size: 12px;
    font-weight: 600;
}

.due_date {
    color: var(--txt-danger);
    font-size: 11px;
    font-weight: 600;
}

.status {
    font-size: 11px;
}

/* ================= CARD BUTTON ================= */
.card_btn {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    padding: 4px;
    border-radius: 5px;
}

.card_btn a{
    text-decoration: none;
}

.card_btn_visit:hover{
    background-color: var(--bg-card-primary);
}
.card_btn_delete:hover{
    background-color: var(--bg-red-primary);
}

.card_btn svg {
    width: 14px;
    height: 14px;
}

.card.urgent {
    background-color: var(--urgent);
}

.card.warning {
    background-color: var(--warning);
}

.card.normal {
    background-color: var(--bg-white);
}

.status.approved {
    color: var(--outline-green);
}

.status.urgent {
    /* color: #d4941f; */
    font-weight: 700;
}

.status.warning {
    font-weight: 700;
}

/* ================= LIST ================= */
#orderList {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

button{
    cursor: pointer;
}

/* FOOTER */
footer {
    width: 100%;
    height: fit-content;
    text-align: center;
    color: white;
    align-items: center;
    margin-top: 1em;
}

footer button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--bg-red-primary);
    color: var(--bg-white);
    border: none;
}